footer{
    .footerpie{
        h3{
            text-align: center;
            font-family: $fuente2;
        }
        h4{
            text-align: center;
            a{
                text-align: center;
            }
        }
    }
    .columnasfooter{
        h4{
            text-align: center;
            font-family: $fuente;
        }
    }

    .redessociales{
        position: fixed;
        right:1%;
        top: 70%;
        display: flex;
        flex-direction: column;
        font-size: 1.5rem;
        align-items: flex-end;
        z-index: 100;
        border-radius: 20px;
        float: right;

        .iconredes{
            a{
                text-decoration: none;
                color: white;
                padding: .7rem;
                display: flex;
                transition: all .5s;
                .iconwhatsapp{
                    background-color: #4de948;
                    position: relative;
                    &:hover{
                        background-color: #1e8b1b;
                        padding-right: 3rem;
                        border-radius: 1rem 0 0 1rem;
                    }
                }
                .iconfacebook{
                    background-color: #1917a8;
                    border-radius: 0 0  0 1rem;
                    &:hover{
                        background-color: #01035a;
                        padding-right: 3rem;
                        border-radius: 1rem 0 0 1rem;
                    } 
                }
                .iconinstagram{
                    background-color: #d42121;
                    border-radius: 1rem 0 0 ;
                    &:hover{
                        background-color: #850000;
                        padding-right: 3rem;
                        border-radius: 1rem 0 0 1rem;
                    }
                }
            }
        }
    }
}


